RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^img\/([a-z]+\/)?([a-z0-9\040\-\_]+)\.(jpg|jpeg|png|svg)$ api.php?output=$3&deer=$2&modifiers=$1 [QSA,L]